// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$brand-color: #ff871c;
//$brand-color: #FF2465;
$brand-color: #3A3D66;
$btn-yellow: #FFD601;
$btn-hover: #ffe457;
$indigo: #4b0082;
$dark-grey: #80868b;
$hover-purple: rebeccapurple;
$light-blue: #add8e6;
$red: #ff0000;
$bootstrap-red: #dc3545;
$bgGrey: #f4f4f4;
$lgGrey: #d3d3d3;
$dark-purple: #cd9cf2;
$light-purple: #f6f3ff;
$lightest-grey: #f0f0f0;
$preset-shade: #ffbd45;
$hover-light-purple: rgba(102,51,153,0.76);
$success: #4BB543;
$darkGrey: #a9a9a9;
$default-grey: #ced4da;
$black: #000;
$btn-text: #212529;
$light-border: #e6e6e6;
$gray-text: #757575;
$white: #fff;
